body {
    background: #f7fafc;
}

/* Jumbotron */
.jumbotron {
    background: #f7fafc;
    padding: 45px 32px;
    margin: 0;
}

#rubiks-cube-gif-text {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
}

/* Main Section */
